<app-header pageTitle="Soundboard"></app-header>

<ng-container
  *ngIf="{
    soundCategories: soundCategories$ | async,
    user: user$ | async,
    allSounds: sounds$ | async,
    filteredSounds: filteredSounds$ | async,
    randomInfixes: randomInfixes$ | async
  } as data"
>
  <ng-container *ngIf="data.soundCategories && data.user && data.allSounds && data.filteredSounds && data.randomInfixes; else loading">
    <mat-toolbar class="controls-toolbar">
      <div class="toolbar-content-wrapper">
        <mat-form-field class="search-field" subscriptSizing="dynamic">
          <mat-label>Search sounds...</mat-label>
          <input
            matInput
            [ngModel]="soundSearchFilter$ | async"
            (ngModelChange)="soundSearchFilter$.next($event)"
            (keydown.enter)="playFirstMatch$.next()"
            placeholder="ENTER plays the first result"
          />
          <button mat-icon-button matSuffix (click)="soundSearchFilter$.next('')" [class.invisible]="(soundSearchFilter$ | async) === ''"
            ><mat-icon>clear</mat-icon></button
          >
        </mat-form-field>

        <mat-form-field matTooltip="Which category of sounds to display" matTooltipShowDelay="500" subscriptSizing="dynamic">
          <mat-label>Filter by category</mat-label>
          <mat-select [ngModel]="settings.soundCategories$ | async" (ngModelChange)="settings.soundCategories$.next($event)" multiple>
            <mat-option *ngFor="let category of data.soundCategories" [value]="category">{{ category || '-- No category --' }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field matTooltip="Where to play the sounds" matTooltipShowDelay="500" subscriptSizing="dynamic">
          <mat-label>Discord Server</mat-label>
          <mat-select [ngModel]="target$ | async" (ngModelChange)="setTarget($event)">
            <mat-option *ngFor="let guild of data.user.guilds" [value]="guild.id">
              {{ guild.name ?? guild.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <app-volume-slider></app-volume-slider>
      </div>
    </mat-toolbar>

    <mat-toolbar class="discord-toolbar">
      <div class="toolbar-content-wrapper">
        <button mat-icon-button (click)="openEventLog()" matTooltip="Latest soundboard activity on the selected Discord server">
          <mat-icon>history</mat-icon>
        </button>
        <div class="event-text">
          <ng-container *ngIf="events$ | async as event; else noEvents">
            {{ event.timestamp * 1000 | date : 'mediumTime' }}: {{ event.userName }} {{ event | eventDescription }}
          </ng-container>
          <ng-template #noEvents>No event to display</ng-template>
        </div>

        <div class="filler"></div>

        <button mat-button (click)="stopSound$.next()"><mat-icon>stop</mat-icon> Stop</button>
        <button mat-icon-button matTooltip="Join discord channel I am connected to" matTooltipShowDelay="500" (click)="joinChannel$.next()">
          <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Leave discord channel" matTooltipShowDelay="500" (click)="leaveChannel$.next()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <main *ngIf="data.user.guilds.length > 0 && data.allSounds[0].length > 0; else noData" class="max-width">
      <div class="button-container">
        <ng-container *ngIf="(soundSearchFilter$ | async).length === 0">
          <app-soundboard-button *ngFor="let infix of data.randomInfixes" (click)="playInfix$.next(infix)" [guildId]="infix.guildId"
            ><mat-icon>shuffle</mat-icon> {{ infix.displayName | uppercase }}</app-soundboard-button
          >
        </ng-container>
        <app-soundboard-button
          *ngFor="let sound of data.filteredSounds; trackBy: trackById"
          (playRemote)="playSound$.next(sound)"
          (playLocal)="playLocalSound(sound)"
          (stopLocal)="stopLocalSound$.next()"
          [isLocallyPlaying]="(currentLocalSound$ | async) === sound"
          [category]="sound.category"
          [guildId]="sound.guildId"
          >{{ sound.name }}</app-soundboard-button
        >
      </div>
    </main>

    <ng-template #noData>
      <main class="centering-wrapper guild-warning-wrapper">
        <mat-icon>error_outline</mat-icon>
        <div *ngIf="data.user.guilds.length === 0">
          You are currently not in any Discord servers with the Soundboard bot. Try adding the bot to your guild by clicking on your avatar
          in the toolbar.
        </div>
        <div *ngIf="data.allSounds[0].length === 0">
          There are currently no sounds uploaded to your Discord servers. Try to upload some sounds via the settings or ask your server
          administrator to do so.
        </div>
      </main>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <main class="centering-wrapper">
    <mat-spinner></mat-spinner>
  </main>
</ng-template>

<app-footer></app-footer>
