<app-header pageTitle="Soundboard"></app-header>

<ng-container
  *ngIf="{
    soundCategories: soundCategories$ | async,
    user: user$ | async,
    allSounds: sounds$ | async,
    filteredSounds: filteredSounds$ | async,
    randomInfixes: randomInfixes$ | async
  } as data"
>
  <ng-container *ngIf="data.soundCategories && data.user && data.allSounds && data.filteredSounds && data.randomInfixes; else loading">
    <mat-toolbar class="controls-toolbar">
      <div class="toolbar-content-wrapper">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Search sounds...</mat-label>
          <input
            matInput
            [ngModel]="soundSearchFilter$ | async"
            (ngModelChange)="soundSearchFilter$.next($event)"
            (keydown.enter)="playFirstMatch$.next()"
            placeholder="ENTER plays the first result"
          />
          <button mat-icon-button matSuffix (click)="soundSearchFilter$.next('')" [class.invisible]="(soundSearchFilter$ | async) === ''"
            ><mat-icon>clear</mat-icon></button
          >
        </mat-form-field>

        <mat-form-field appearance="outline" matTooltip="Which category of sounds to display" matTooltipShowDelay="500">
          <mat-label>Filter by category</mat-label>
          <mat-select [ngModel]="settings.soundCategories$ | async" (ngModelChange)="settings.soundCategories$.next($event)" multiple>
            <mat-option *ngFor="let category of data.soundCategories" [value]="category">{{ category || '-- No category --' }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" matTooltip="Where to play the sounds" matTooltipShowDelay="500">
          <mat-label>Playback Target</mat-label>
          <mat-select [ngModel]="target$ | async" (ngModelChange)="setTarget($event)">
            <mat-option [value]="false" selected>This device</mat-option>
            <mat-optgroup label="Discord Servers">
              <mat-option *ngFor="let guild of data.user.guilds" [value]="guild.id">
                {{ guild.name ?? guild.id }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>

        <div *ngIf="(settings.soundTarget$ | async) === 'local'" class="volume-slider-wrapper">
          <mat-icon>volume_up</mat-icon>
          <mat-slider
            [value]="settings.localVolume$ | async"
            (change)="settings.localVolume$.next($event.value)"
            color="primary"
            min="0"
            max="100"
            thumbLabel
          ></mat-slider>
        </div>
        <button mat-button (click)="stopSound$.next()"><mat-icon>stop</mat-icon> Stop</button>
      </div>
    </mat-toolbar>

    <mat-toolbar *ngIf="(settings.soundTarget$ | async) === 'discord'" class="events-toolbar">
      <div class="toolbar-content-wrapper">
        <mat-icon matTooltip="Latest soundboard activity on the selected Discord server">history</mat-icon>
        <ng-container *ngIf="events$ | async as event; else noEvents">
          {{ event.timestamp * 1000 | date: 'mediumTime' }}: {{ event.userName }}
          <ng-container *ngIf="event.type === 'PlaybackStarted'">played the sound '{{ event.soundName }}'</ng-container>
          <ng-container *ngIf="event.type === 'PlaybackStopped'">stopped the playback</ng-container>
          <ng-container *ngIf="event.type === 'RecordingSaved'">saved a recording</ng-container>
        </ng-container>
        <ng-template #noEvents>No event to display</ng-template>
      </div>
    </mat-toolbar>

    <main *ngIf="data.user.guilds.length > 0 && data.allSounds[0].length > 0; else noData" class="max-width">
      <div class="button-container">
        <ng-container *ngIf="(soundSearchFilter$ | async).length === 0">
          <app-soundboard-button *ngFor="let infix of data.randomInfixes" (click)="playInfix$.next(infix)" [guildId]="infix.guildId"
            ><mat-icon>shuffle</mat-icon> {{ infix.displayName | uppercase }}</app-soundboard-button
          >
        </ng-container>
        <app-soundboard-button
          *ngFor="let sound of data.filteredSounds; trackBy: trackById"
          (click)="playSound$.next(sound)"
          [category]="sound.category"
          [guildId]="sound.guildId"
          >{{ sound.name }}</app-soundboard-button
        >
      </div>
    </main>

    <ng-template #noData>
      <main class="centering-wrapper guild-warning-wrapper">
        <mat-icon>error_outline</mat-icon>
        <div *ngIf="data.user.guilds.length === 0">
          You are currently not in any Discord servers with the Soundboard bot. Try adding the bot to your guild by clicking on your avatar
          in the toolbar.
        </div>
        <div *ngIf="data.allSounds[0].length === 0">
          There are currently no sounds uploaded to your Discord servers. Try to upload some sounds via the settings or ask your server
          administrator to do so.
        </div>
      </main>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <main class="centering-wrapper">
    <mat-spinner></mat-spinner>
  </main>
</ng-template>

<app-footer></app-footer>
