:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

$main-width: 1200px;

.max-width {
  margin: 0 auto;
  max-width: $main-width;
  width: 100%;
}

mat-toolbar.controls-toolbar {
  height: auto;
  min-height: 64px;

  position: sticky;
  top: 0;
  z-index: 1;

  .toolbar-content-wrapper {
    @extend .max-width;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 14px;
    gap: 10px;
  }

  mat-form-field {
    &:not(.search-field) {
      flex: 1 0 0;
      min-width: 100px;
      max-width: 180px;
    }

    &.search-field {
      flex: 1 0 180px;
    }
  }
}

mat-toolbar.discord-toolbar {
  height: auto;
  min-height: 48px;

  font-size: 14px;

  .event-text {
    color: lightgray;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .toolbar-content-wrapper {
    @extend .max-width;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  .filler {
    flex: 1;
  }
}

mat-toolbar:last-of-type {
  margin-bottom: 16px;
}

main {
  flex: 1;
  padding: 0 5px;

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    app-soundboard-button {
      margin: 5px;
      flex: 1 0 175px;
      max-width: 300px;
      height: 70px;
    }
  }

  &.centering-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.guild-warning-wrapper {
    padding: 16px;

    mat-icon {
      margin-right: 8px;
    }
  }
}

.invisible {
  visibility: hidden;
  user-select: none;
}
