<app-header pageTitle="Soundboard"></app-header>

<ng-container
  *ngIf="{
    soundCategories: soundCategories$ | async,
    user: user$ | async,
    allSounds: sounds$ | async,
    filteredSounds: filteredSounds$ | async,
    randomInfixes: randomInfixes$ | async
  } as data"
>
  <ng-container *ngIf="data.soundCategories && data.user && data.allSounds && data.filteredSounds && data.randomInfixes; else loading">
    <mat-toolbar class="title-row">
      <div class="toolbar-content-wrapper">
        <mat-form-field appearance="outline" matTooltip="Which category of sounds to display">
          <mat-label>Filter by category</mat-label>
          <mat-select [ngModel]="settings.soundCategories$ | async" (ngModelChange)="settings.soundCategories$.next($event)" multiple>
            <mat-option *ngFor="let category of data.soundCategories" [value]="category">{{ category || '-- No category --' }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="(settings.soundTarget$ | async) === 'discord'">
          <mat-label>Play on server</mat-label>
          <mat-select [ngModel]="settings.guildId$ | async" (ngModelChange)="settings.guildId$.next($event)">
            <mat-option *ngFor="let guild of data.user.guilds" [value]="guild.id">{{ guild.name || guild.id }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-button-toggle-group
          [ngModel]="settings.soundTarget$ | async"
          (ngModelChange)="stopLocalSound$.next(); settings.soundTarget$.next($event)"
          matTooltip="Play locally in the browser or via discord"
        >
          <mat-button-toggle value="local">Local</mat-button-toggle>
          <mat-button-toggle value="discord">Discord</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-toolbar>
    <mat-toolbar class="controls-row">
      <div class="toolbar-content-wrapper">
        <mat-form-field class="controls-left" appearance="standard">
          <mat-label>Search sounds...</mat-label>
          <input
            matInput
            [ngModel]="soundSearchFilter$ | async"
            (ngModelChange)="soundSearchFilter$.next($event)"
            (keydown.enter)="playFirstMatch$.next()"
          />
          <button mat-icon-button matSuffix (click)="soundSearchFilter$.next('')" [class.invisible]="(soundSearchFilter$ | async) === ''"
            ><mat-icon>clear</mat-icon></button
          >
          <mat-hint>ENTER plays the first result</mat-hint>
        </mat-form-field>

        <div class="controls-right">
          <div *ngIf="(settings.soundTarget$ | async) === 'local'" class="volume-slider-wrapper">
            <mat-icon>volume_up</mat-icon>
            <mat-slider
              [value]="settings.localVolume$ | async"
              (change)="settings.localVolume$.next($event.value)"
              color="primary"
              min="0"
              max="100"
              thumbLabel
            ></mat-slider>
          </div>
          <button mat-button (click)="stopSound$.next()"><mat-icon>stop</mat-icon> Stop</button>
        </div>
      </div>
    </mat-toolbar>

    <main *ngIf="data.user.guilds.length > 0 && data.allSounds[0].length > 0; else noData" class="max-width">
      <div class="button-container">
        <ng-container *ngIf="(soundSearchFilter$ | async).length === 0">
          <app-soundboard-button *ngFor="let infix of data.randomInfixes" (click)="playInfix$.next(infix)" [guildId]="infix.guildId"
            ><mat-icon>shuffle</mat-icon> {{ infix.displayName | uppercase }}</app-soundboard-button
          >
        </ng-container>
        <app-soundboard-button
          *ngFor="let sound of data.filteredSounds; trackBy: trackById"
          (click)="playSound$.next(sound)"
          [category]="sound.category"
          [guildId]="sound.guildId"
          >{{ sound.name }}</app-soundboard-button
        >
      </div>
    </main>

    <ng-template #noData>
      <main class="centering-wrapper guild-warning-wrapper">
        <mat-icon>error_outline</mat-icon>
        <div *ngIf="data.user.guilds.length === 0">
          You are currently not in any Discord servers with the Soundboard bot. Try adding the bot to your guild by clicking on your avatar
          in the toolbar.
        </div>
        <div *ngIf="data.allSounds[0].length === 0">
          There are currently no sounds uploaded to your Discord servers. Try to upload some sounds via the settings or ask your server
          administrator to do so.
        </div>
      </main>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #loading>
  <main class="centering-wrapper">
    <mat-spinner></mat-spinner>
  </main>
</ng-template>

<app-footer></app-footer>
