# Development Sandbox
services:
  db:
    image: postgres
    restart: on-failure
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD
    volumes:
      - ./.volumes/db/data:/var/lib/postgresql

  adminer:
    image: adminer
    restart: on-failure
    ports:
      - "8080:8080"
