mat-card {
  margin-bottom: 8px;
  max-width: 1200px;
}

.infix-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px;

  mat-form-field {
    flex: 1;
    margin-right: 0.4em;
  }
}
