@import 'variables';

* {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
