<h2 mat-dialog-title>Event Log</h2>
<mat-dialog-content>
  <div *ngIf="events().length === 0" class="no-events">No events to display</div>
  <table mat-table [dataSource]="events()">
    <ng-container matColumnDef="timestamp">
      <td mat-cell *matCellDef="let event">{{ event.timestamp * 1000 | date : 'mediumTime' }}</td>
    </ng-container>
    <ng-container matColumnDef="icon">
      <td mat-cell *matCellDef="let event" [ngSwitch]="event.type">
        <ng-container *ngSwitchCase="'PlaybackStarted'"><mat-icon>play_arrow</mat-icon></ng-container>
        <ng-container *ngSwitchCase="'PlaybackStopped'"><mat-icon>stop</mat-icon></ng-container>
        <ng-container *ngSwitchCase="'RecordingSaved'"><mat-icon>fiber_manual_record</mat-icon></ng-container>
        <ng-container *ngSwitchCase="'JoinedChannel'"><mat-icon>login</mat-icon></ng-container>
        <ng-container *ngSwitchCase="'LeftChannel'"><mat-icon>logout</mat-icon></ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="user">
      <td mat-cell *matCellDef="let event">{{ event.userName }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell *matCellDef="let event">{{ event | eventDescription }}</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns" [appScrollIntoView] [appScrollIntoViewOnAdd]="true"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
