:host {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.loading-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-toolbar {
  height: auto;
  min-height: 64px;
  margin-bottom: 16px;

  flex-wrap: wrap;
  column-gap: 16px;

  @media screen and (max-width: 599px) {
    min-height: 56px;
  }

  .title {
    // Padding and margin are used to make italic text not be cut off
    padding: 8px 4px;
    margin: 0 -4px;

    overflow: hidden;
    text-overflow: ellipsis;

    .guild-name {
      font-style: italic;
    }
  }

  .processing-spinner {
    margin: 0 12px;
  }

  .controls-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 14px;

    .control {
      display: flex;
      align-items: center;
      margin-left: 8px;
    }

    input[type='file'] {
      display: none;
    }
  }

  .invisible {
    visibility: hidden;
  }
}

.sound-list {
  display: block;
  margin: 0 8px;
}

.sound-scroller {
  flex: 1;
}

.message-container {
  text-align: center;
}

// Fix mat-expansion-panel styling with components in between
:host ::ng-deep .sound-list app-sound-details {
  &:not(:first-of-type) .mat-expansion-panel:not(.mat-expanded) {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  &:not(:last-of-type) .mat-expansion-panel:not(.mat-expanded) {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
