<ng-container *ngIf="{ guild: guild$ | async, guildSettings: guildSettings$ | async, randomInfixes: randomInfixes$ | async } as data">
  <ng-container *ngIf="data.guild && data.guildSettings && data.randomInfixes; else loading">
    <mat-toolbar
      ><div
        >Settings for <span class="guild-name">{{ data.guild.name }}</span></div
      ></mat-toolbar
    >

    <div class="guild-container">
      <!-- Admin only area -->
      <ng-container *ngIf="(role$ | async) === 'admin'">
        <h2 class="section-title"><mat-icon>admin_panel_settings</mat-icon>&nbsp;<span>User</span></h2>
        <p
          >You can define a role from your server to be the soundboard user role. Only users with that role (or moderator or admin role) can
          view sounds from your discord or play sounds on your discord.</p
        >
        <div class="setting-input-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>User role</mat-label>
            <mat-select [ngModel]="data.guildSettings.userRoleId" (ngModelChange)="setUserRoleId($event, data.guild.id)">
              <mat-option [value]="null">-- Disable users --</mat-option>
              <mat-option *ngFor="let role of data.guildSettings.roles | keyvalue" [value]="role.key">{{ role.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngTemplateOutlet="savingIndicator; context: { $implicit: userIsSaving$ | async }"></ng-container>
        </div>

        <h2 class="section-title"><mat-icon>admin_panel_settings</mat-icon>&nbsp;<span>Moderator</span></h2>
        <p
          >You can define a role from your server to be the moderator role. Every user with that role will be able to edit the random
          buttons and sounds within your guild.</p
        >
        <div class="setting-input-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Moderator role</mat-label>
            <mat-select [ngModel]="data.guildSettings.moderatorRoleId" (ngModelChange)="setModeratorRoleId($event, data.guild.id)">
              <mat-option [value]="null">-- Disable moderators --</mat-option>
              <mat-option *ngFor="let role of data.guildSettings.roles | keyvalue" [value]="role.key">{{ role.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngTemplateOutlet="savingIndicator; context: { $implicit: moderatorIsSaving$ | async }"></ng-container>
        </div>

        <p
          >The soundboard automatically boosts the volume of sounds that are too quiet. The guild-specific values to which the sounds are
          boosted can be defined below. Those settings can also be overriden manually for each sound.</p
        >
        <div class="setting-input-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Target mean volume</mat-label>
            <input
              matInput
              type="number"
              min="-30"
              max="30"
              step="1"
              [ngModel]="data.guildSettings.targetMeanVolume"
              (change)="setMeanVolume($event.target.value, data.guild.id)"
              required
            />
            <span matSuffix>dB</span>
          </mat-form-field>
          <mat-icon matTooltip="Default is -13">info</mat-icon>
          <ng-container *ngTemplateOutlet="savingIndicator; context: { $implicit: meanVolumeIsSaving$ | async }"></ng-container>
        </div>
        <div class="setting-input-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Target max volume</mat-label>
            <input
              matInput
              type="number"
              min="-30"
              max="30"
              step="1"
              [ngModel]="data.guildSettings.targetMaxVolume"
              (change)="setMaxVolume($event.target.value, data.guild.id)"
              required
            />
            <span matSuffix>dB</span>
          </mat-form-field>
          <mat-icon matTooltip="Default is 0">info</mat-icon>
          <ng-container *ngTemplateOutlet="savingIndicator; context: { $implicit: maxVolumeIsSaving$ | async }"></ng-container>
        </div>

        <ng-template #savingIndicator let-state>
          <mat-spinner *ngIf="state === 'saving'" [diameter]="24"></mat-spinner>
          <mat-icon [@savingCheckmark]="state !== 'saving'">{{ state === 'idle' ? 'check' : 'error_outline' }}</mat-icon>
        </ng-template>
      </ng-container>

      <h2 class="section-title"><mat-icon>shuffle</mat-icon>&nbsp;<span>Random Buttons</span></h2>
      <p>You can define what "Random" buttons are displayed for users of your guild.</p>
      <app-random-infixes
        [guildId]="data.guild.id"
        [randomInfixes]="data.randomInfixes"
        (hasChanges)="randomInfixesHasChanges$.next($event)"
      ></app-random-infixes>
    </div>
  </ng-container>

  <app-unsaved-changes-box
    [hasChanges]="randomInfixesHasChanges$ | async"
    [isSaving]="randomInfixIsSaving$ | async"
    (saveChanges)="saveRandomInfixes()"
    (discardChanges)="randomInfixesComponent.discardChanges()"
  ></app-unsaved-changes-box>
</ng-container>

<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
