:host {
  position: relative;
  flex: 1;
}

.loading-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guild-container {
  padding: 16px;
}

.title {
  // Needed for italic text to not be cut off
  padding: 0 4px;
  margin: 0 -4px;

  overflow: hidden;
  text-overflow: ellipsis;

  .guild-name {
    font-style: italic;
  }
}

.section-title {
  mat-icon,
  span {
    vertical-align: middle;
  }
}

.setting-input-wrapper {
  display: flex;
  align-items: baseline;

  mat-form-field {
    margin-right: 0.5em;
  }
}
