@use '@angular/material' as mat;

:host {
  @include mat.elevation(8);
  // make sure the shadow is rendered
  z-index: 2;
}

.app-title {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1;
}

a.mat-mdc-button {
  &.active,
  &:hover {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

.second-row {
  display: none;

  height: 36px;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;

  .mat-mdc-button {
    flex: 1;
    min-width: 150px;
  }
}

@media screen and (max-width: 750px) {
  .first-row-navigation {
    display: none;
  }

  .second-row {
    display: flex;
  }
}

.avatar-button-wrapper {
  height: 40px;
  width: 40px;
  margin-left: 8px;

  .avatar-button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
