<button mat-raised-button (click)="this.playSound()" class="main-button">
  <div class="sound-name" #soundName><ng-content></ng-content></div>
  <div class="sound-source mat-small" [matTooltip]="(guildId | guildName) + displayedCategory" matTooltipShowDelay="500">
    @if (category == null) {
    {{ guildId | guildName }}
    } @if (category === '') {
    <span class="no-category">-- empty --</span>
    } @if (category != null && category.length > 0) {
    {{ category }}
    }
  </div>
</button>
@if (canPlayLocally) {
<button mat-icon-button [color]="isLocallyPlaying && 'warn'" class="preview-button" (click)="this.handleLocalSound()">
  <mat-icon>{{ isLocallyPlaying ? 'stop' : 'volume_up' }}</mat-icon>
</button>
}
