@import 'variables';

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

mat-toolbar {
  height: auto;
  min-height: 64px;
  font-size: 14px;
  justify-content: flex-end;
  margin-bottom: 16px;

  .toolbar-content {
    @extend .max-width;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;

    > * {
      margin: 5px;
    }
  }
}

p {
  margin-left: 16px;
  margin-right: 16px;
}

main {
  flex: 1;

  &.loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-checkbox {
    margin-left: 2em;
  }

  mat-divider {
    margin: 1em 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  mat-slider {
    display: block;
  }

  button:not(:last-child) {
    margin-right: 1em;
  }

  .sound-channel-controls {
    margin-bottom: 16px;
  }

  .button-row {
    display: flex;
    flex-wrap: wrap;

    .filler {
      flex: 1;
    }
  }
}

:host ::ng-deep {
  mat-expansion-panel {
    mat-expansion-panel-header > .mat-content {
      justify-content: space-between;
    }

    .mat-content > mat-panel-title,
    .mat-content > mat-panel-description {
      flex: 0 0 auto;
    }
  }
}
