:host {
  // For the box shadow to appear
  position: relative;
  z-index: 1;
}

.app-title {
  color: inherit;
}

.spacer {
  flex: 1;
}

.navigation-menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .navigation-menu {
    display: unset;
  }

  a.mat-button {
    display: none;
  }
}

.avatar-button-wrapper {
  height: 40px;
  width: 40px;

  .avatar-button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
