:host {
  position: relative;
}

.main-button {
  height: 100%;
  min-width: 100%;
  object-fit: cover;

  &:not(:only-child) {
    padding-right: 72px;
  }

  ::ng-deep .mdc-button__label {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    text-align: center;
    min-width: 100%;

    z-index: 0; // prevents the label from overlapping the preview button or filters
  }
}

.preview-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  &.mat-unthemed {
    color: rgba(232, 230, 227, 0.38);
  }
}

.sound-name,
.sound-source {
  padding: 0 8px;
}

.sound-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  max-height: 100%;
  word-break: break-word;

  ::ng-deep .mat-icon {
    flex: none;
    margin-right: 0.5em;
  }
}

.sound-source {
  opacity: 0.3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .no-category {
    font-style: italic;
  }
}
