:host {
  position: relative;
}

.main-button {
  height: 100%;
  width: 100%;

  &:not(:only-child) {
    padding-right: 56px;
  }

  ::ng-deep .mdc-button__label {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    text-align: center;

    z-index: 0; // prevents the label from overlapping the preview button or filters
  }
}

.preview-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.sound-name,
.sound-source {
  padding: 0 8px;
}

.sound-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-bottom: 1em;
}

.sound-source {
  opacity: 0.3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .no-category {
    font-style: italic;
  }
}
