.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: #424242;
  transition: background-color 250ms;
  border-radius: 5px;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: #393939;
  }
}

.sound-name,
.sound-source {
  padding: 0 8px;
}

.sound-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-bottom: 1em;
}

.sound-source {
  opacity: 0.3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .no-category {
    font-style: italic;
  }
}
