<footer *ngIf="apiService.appInfo$ | async as info">
  <span
    matTooltip="Build id: {{ info.buildId }} &mdash; Build date: {{ info.buildTimestamp * 1000 | date: 'medium' }}"
    [matTooltipDisabled]="!info.buildId || !info.buildTimestamp"
  >
    discord-soundboard-bot {{ info.version }}
  </span>
  &mdash;
  <a href="3rdpartylicenses.txt" target="_blank" rel="noopener">Licenses</a>
  &mdash;
  <a href="https://github.com/dominikks/discord-soundboard-bot" target="_blank" rel="noopener">GitHub</a>
</footer>
