footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  opacity: 0.3;
  transition: opacity 200ms;

  &:hover {
    opacity: 0.8;
  }

  a {
    color: white;
  }

  mat-icon {
    margin-right: 0.25em;
  }
}
