$footer-color: rgba(white, 0.6);

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 0.5rem 0;
  color: $footer-color;

  a {
    color: $footer-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
