name: Lint app

on: push

jobs:
  frontend-lint:
    name: Lint frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Run linter
        run: npm run lint
        working-directory: frontend

      - name: Run prettier
        run: npm run format:check
        working-directory: frontend

  backend-lint:
    name: Lint backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Run formatter
        run: cargo fmt --manifest-path backend/Cargo.toml --all -- --check

      - name: Run clippy
        run: cargo clippy --manifest-path backend/Cargo.toml
